<div>
  <div class="container">
    <p>Hello. How are you today?</p>
  </div>

  <div *ngFor="let conversation of conversations">
    <div *ngIf="conversation.type === 0; else notDark" class="container darker">
      <p>{{conversation.text}}</p>
    </div>

    <ng-template #notDark>
      <div class="container">
        <p>{{conversation.text}}</p>
      </div>
    </ng-template>
  </div>
</div>

<div>

  <form [formGroup]="formName" class="example-form" style="display: flex;">
    <mat-form-field class="example-full-width" style="width: 80%; margin-right: 5%;">
      <mat-label>Write with our Chat Assistant</mat-label>
      <textarea formControlName="name" matInput placeholder="Please, add a new Installment..."></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" style="margin-top: 3%;" (click)="onBtnClickedEvent()">Start Chat</button>
  </form>
</div>

