/* Chat containers */
.container {
  border: 2px solid #2f285c;
  background-color: #d0cede;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  margin-right: 550px;
  margin-left: 20px;
  height: 90%;
  width: 400px;
}

/* Darker chat container */
.darker {
  border-color: #54506d;
  background-color: #8b87a6;
  margin-left: 320px;
  margin-right: 250px;
  height: 90%;
  width: 400px;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.example-form {
  margin-left: 20px;
  width: 1000px;
}
